<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="@Url.Content("~/Content/stylesheet.css")" />
	<title>@RenderSection("title")</title>
</head>
<body>
	
    <header class="header">
        <div class="guns-dont-kill-people"><!-- wrappers do -->
            <ul class="navigation header__navigation">
                <li class="navigation__item"><a class="navigation__link" href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))">Home</a></li>
            </ul>
        </div>
    </header>
    <main class="main">
        <div class="guns-dont-kill-people">
            @RenderBody()
        </div>
    </main>
    <footer class="footer">
        <div class="guns-dont-kill-people">
			<div><img src="~/Content/logoimage.png" /></div>
            <div><img src="~/Content/logotext.png" /></div>
        </div>
    </footer>

	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.2.0.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.min.js")"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			AjaxItUpABit($('#MainForm'));
		});

		function AjaxItUpABit(form) {
			form.ajaxForm({
				data: { isAjax: true },
				target: form,
				replaceTarget: true,
				success: function (a, formElement) {
					AjaxItUpABit($('#MainForm'));
				}
			});
		}
	</script>
</body>
</html>