@inherits CodeFirstDocumentView<QuestionSet, QuestionSetViewModel>
@using Felinesoft.UmbracoCodeFirst.Views
@using Felinesoft.UmbracoCodeFirst.QuizDemo.DocTypes


@using (ViewModelHelper.BeginUmbracoForm<QuestionSetSurfaceController>("ValidateAnswer", FormMethod.Post, new { id = "MainForm", @class = "form" }))
{

	@Html.Partial("_questionSetViewModelElements", UnderlyingViewModel)

	<div class="question">
        @{
            int i = 1;
            var questionViewModel = ViewModel.CurrentQuestion(Document);
        }
        <div class="question__image">
            <img src="@(ViewModel.CurrentQuestion(Document).ImageUrl ?? Url.Content("~/Content/defaultImage.jpg"))" />
        </div>
        <div class="question__question">
            @questionViewModel.QuestionDetails.QuestionText
        </div>
        @foreach (var answer in questionViewModel.QuestionDetails.Answers)
        {
            var answerId = "answer" + i;
            <div class="question__answer">
                @ViewModelHelper.RadioButtonFor(x => x.Answer.AnswerIndex, i, new { @class = "question__checkbox", id = answerId })
                <label class="question__label" for="@answerId" tabindex="0">
                    @answer
                </label>
            </div>
            i++;
        }
	</div>

    <div class="form__actions">
        <button type="submit" class="form__submit">Answer &#x203A;</button>
    </div>
}