<!--
	This view inherits UmbracoDocumentViewPage<T>, which allows code-first strongly typed views without using any kind of custom controller.
    UmbracoDocumentViewPage<T> is fully compatible with UmbracoViewPage<RenderModel>, so can be easily swapped into existing Umbraco views
	without breaking anything.
-->

@inherits UmbracoDocumentViewPage<HomePage>
@using Marsman.UmbracoCodeFirst.Views
@using Marsman.UmbracoCodeFirst.QuizDemo.DocTypes
@using Marsman.UmbracoCodeFirst.Extensions

@{
    Layout = "_layout.cshtml";
}

@section title{
	@Document.NodeDetails.Name
}

<div class="content" @Document.GetContextualAttributes()>
        @Document.Content.WelcomeParagraph
    <p>
        @(Dictionary<QuizmasterDictionary>().ChooseQuestionSet)
    </p>
    <ul>
        @foreach (var set in Document.QuestionSets)
        {
            <li>
                <a href="@set.NodeDetails.Url">@set.NodeDetails.Name</a>
            </li>
        }
    </ul>
</div>