@inherits CodeFirstDocumentView<Demo.DocumentTypes.LocationConfig, Demo.Controllers.LocationConfigViewModel>
@using Felinesoft.UmbracoCodeFirst.Views
<html>
    <head>
        <title>Test</title>
        <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false" 
           type="text/javascript"></script>
    </head>
    <body onunload="GUnload()" style="background-color:@Document.TestProperties.ColorPicker">
        <br /><br /><br />
        <div id="map" style="width: 400px; height: 300px"></div> 

        <script type="text/javascript">
            var map = new GMap2(document.getElementById("map"));
            var lat = @(Document.Coordinates == null ? 0 : Document.Coordinates.Latitude);
            var long = @(Document.Coordinates == null ? 0 : Document.Coordinates.Longitude);
            map.setCenter(new GLatLng(lat, long), 8);
        </script>
        <div>Cords: @Document.Coordinates</div>
        <div>Picked: @Document.Picked</div>

        @foreach (var child in Document)
        {
            <div>@child.Description</div>
        }

        <div>String: @Document.TestProperties.String</div>
        <div>Numeric: @Document.TestProperties.Numeric</div>
        <div>@DocumentHelper.LabelFor(x => x.TestProperties.DateTime): @Document.TestProperties.DateTime</div>
        @if(Document.TestProperties.ContentPicker != null)
        {
            <div><a href="@Document.TestProperties.ContentPicker">@Document.TestProperties.ContentPicker.Name</a></div>
        }
        <div>Bool: @Document.TestProperties.Bool</div>
        <div>CheckboxList: @Document.TestProperties.CheckboxList</div>
        <div>DropdownList: @Document.TestProperties.DropdownList</div>
        <div>DropdownListMultiple: @Document.TestProperties.DropdownListMultiple</div>
        <div>RadioButtonList: @Document.TestProperties.RadioButtonList</div>
        <div>AttributeTargets: @Document.TestProperties.AttributeTargets</div>
        <div>Options: @Document.TestProperties.Options</div>
        <div>Choices: @Document.TestProperties.Choices</div>

        <div>Label: @Document.Test2Properties.Label</div>
        <img src="@Document.Test2Properties.MediaPicker" />
        <div>MemberPicker: @Document.Test2Properties.MemberPicker</div>
        @foreach (var img in Document.Test2Properties.MultipleMediaPicker)
        {
            switch (img.Type)
            {
                case Felinesoft.UmbracoCodeFirst.DataTypes.BuiltIn.MediaType.Image:
                    <img src="@img" alt="@img.Name" />
                    break;
                case Felinesoft.UmbracoCodeFirst.DataTypes.BuiltIn.MediaType.File:
                    <a href="@img">@img.Name</a>
                    break;
            }
            
        }
        @foreach (var link in Document.Test2Properties.Links)
        {
            <a href="@link" target="@(link.NewWindow ? "_blank" : "_self")">@link.Caption</a>
        }
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    </body>
</html>