@inherits CodeFirstDocumentView<Debug,DebugViewModel>
@using Felinesoft.UmbracoCodeFirst.Views
@using Felinesoft.UmbracoCodeFirst.Debug.DocTypes

<div>
	@Document.Boolean
	@Document.Timer
	@ViewModel.BooleanValueBackwards

	@if(Document is ExtraDebug)
	{
		<div>
			@((Document as ExtraDebug).Textses)
		</div>
	}

	@foreach(var link in Document.Method1)
	{
		<div>
			@link.Name
		</div>
	}

	@foreach (var link in Document.OtherOne)
	{
		<div>
			@link.Title
			<br />
			@link.Caption
		</div>
	}

	@foreach (var link in Document.PickedOnes3)
	{
		<div>
			@link.NodeDetails.Name
		</div>
	}
</div>
