@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
					<footer id="footer">
						<ul class="icons">
@{
    var homePage = Umbraco.ContentSingleAtXPath("/root/Home");
}
 
@RenderLinkIfNotEmpty(homePage.twitterUrl, "fa-twitter", "Twitter")
@RenderLinkIfNotEmpty(homePage.facebookUrl, "fa-facebook", "Facebook")
@RenderLinkIfNotEmpty(homePage.instagramUrl, "fa-instagram", "Instagram")
@RenderLinkIfNotEmpty(homePage.dribbbleUrl, "fa-dribbble", "Dribble")
 
@helper RenderLinkIfNotEmpty(dynamic link, string cssClass, string linkName) {
// A helper function is handy when you have to do the same thing over and over again
    // So now we only have to write the "if" check and list item once, and we only need
    // to put in the things that can vary
 
    if (!string.IsNullOrEmpty(link)) 
    {
			                <li><a href="@link" class="icon @cssClass"><span class="label">@linkName</span></a></li>
    }
}		
						</ul>
						<ul class="copyright">
							<li>&copy; @DateTime.Now.Year @Umbraco.Field("copyright", recursive: true) </li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Images: <a href="https://www.flickr.com/photos/markjsebastian/">markjsebastian on Flickr</a></li>
						</ul>
					</footer>	
