@inherits UmbracoDocumentViewPage<Umbhomepage>
@using Felinesoft.UmbracoCodeFirst.Views
@using Demo.GeneratedUmbracoTypes
@using Felinesoft.UmbracoCodeFirst.Extensions

<ul class="icons">
    @RenderLinkIfNotEmpty(Document.Social.TwitterLink, "twitter", "Twitter")
    @RenderLinkIfNotEmpty(Document.Social.FacebookLink, "facebook", "Facebook")
    @RenderLinkIfNotEmpty(Document.Social.GoogleLink, "google-plus", "Google+")
    @RenderLinkIfNotEmpty(Document.Social.Pinterest, "pinterest", "Pinterest")
    @RenderLinkIfNotEmpty(Document.Social.DribbbleLink, "dribbble", "Dribbble")
    @RenderLinkIfNotEmpty(Document.Social.LinkedinLink, "linkedin", "LinkedIn")
</ul>

@helper RenderLinkIfNotEmpty(dynamic link, string cssClass, string linkName)
{
    // A helper function is handy when you have to do the same thing over and over again
    // So now we only have to write the "if" check and list item once, and we only need
    // to put in the things that can vary: the link, the cssClass and the linkName.
    
    if (string.IsNullOrEmpty(link) == false)
    {
        <li><a href="@link" class="icon icon-@cssClass solo"><span>@linkName</span></a></li>
    }
}