@inherits Felinesoft.UmbracoCodeFirst.Views.UmbracoDocumentViewPage<Felinesoft.UmbracoCodeFirst.Demo.DocTypes.LazyPage>
@using Felinesoft.UmbracoCodeFirst.Demo.DocTypes;
@using Felinesoft.UmbracoCodeFirst.Demo;
@using Felinesoft.UmbracoCodeFirst;
@{
    Layout = "Layout.cshtml";
}
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Lazy Count</h1>
                        <p>@Document.LazyCount items are not loaded</p>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>@Document.Text</h2>
                            <p>@Document.LazyCount items are not loaded</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
                                <h2>@Document.TextMulti</h2>
                                <p>@Document.LazyCount items are not loaded</p>
							</div>
						</section>
                        <section class="wrapper style4">
							<div class="inner">
                                <h2>@Document.Links.Items[0]</h2>
                                <p>@Document.LazyCount items are not loaded</p>
							</div>
						</section>
                        <section class="wrapper style3">
							<div class="inner">
                                <h2>@Document.Compo.CompositeTextstring</h2>
                                <p>@Document.LazyCount items are not loaded</p>
							</div>
						</section>
					</article>

				<!-- Footer -->
						@{ Html.RenderPartial("umbFooter"); }

			</div>